:root {
    --black: #040404;
    --itemsColor: #FFBF59;
    --whiteTextColor: #f7f6f2;
    --textFont: 'Montserrat', sans-serif;
}

div.burger {
    grid-area: menu;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 5%;
    left: 2%;
    cursor: pointer;
    z-index: 10;
}

div.burger span,
div.burger::before,
div.burger::after {
    display: block;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    height: 5px;
    background-color: var(--whiteTextColor);
    width: 50px;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0.71, 0.02, 0.13, 1.66);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.day div.burger span,
.day div.burger::before,
.day div.burger::after {
    background-color: var(--black);
}

div.burger span {
    top: 50%;
    width: 35px;
}

div.burger::before {
    content: "";
    top: 0;

}

div.burger::after {
    content: "";
    top: 100%;
    width: 45px;
}

.burger.active span,
.burger.active::before,
.burger.active::after {
    background-color: var(--whiteTextColor);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100%;
}

.day .burger.active span,
.day .burger.active::before,
.day .burger.active::after {
    background-color: var(--whiteTextColor);
}

div.burger.active::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

div.burger:hover span,
div.burger:hover::after {
    width: 100%;
}

.menu {
    position: absolute;
    list-style-type: none;
    top: 0;
    left: -100%;
    background-color: #040404;
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3;
    transition: all 0.3s cubic-bezier(1, 0.04, 0, 1);
    font-size: 2rem;
    z-index: 9;
    letter-spacing: 3px;
    font-weight: bold;
    overflow: hidden;
}

.menu a {
    color: var(--whiteTextColor);
}

.menu.active {
    left: 0;
}

/* _____________________________________________ */

/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 15vh;
}

input {
    font-family: var(--textFont);
    font-size: 2rem;
    padding: 30px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: #040404;
    color: var(--whiteTextColor);
    text-align: center;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #757575;
    font-size: 1.9rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: var(--itemsColor);
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;

}

.bar:before,
.bar:after {
    content: '';
    height: 3px;
    width: 0;
    bottom: -1px;
    position: absolute;
    background: var(--itemsColor);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}



button.applay {
    font-size: 1.5rem;
    padding: 10px 25px;
    background-color: transparent;
    color: var(--whiteTextColor);
    border: 3px solid var(--itemsColor);
    font-family: var(--textFont);
    letter-spacing: 2px;
    border-radius: 5px;
    font-weight: bold;
    transition: border-color, transform 0.2s ease-out;
}

button.applay.shake {
    animation: shake .5s ease-out;
    border-color: #db1547;
}

div.Contact {
    width: 20vw;
    height: 12vh;
    position: absolute;
    bottom: 0;
    right: -3%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}

/* _____________________________________________ */
@media (orientation: portrait) {
    div.burger {
        top: 4%;
        left: 5%;
        width: 35px;
        height: 25px;
    }

    .menu {
        top: -100vh;
        left: 0;
        width: 100%;
        line-height: 3;
        transition: all 0.3s cubic-bezier(1, 0.04, 0, 1);
        font-size: 1.5rem;
    }

    .menu.active {
        top: 0;
    }

    div.burger span,
    div.burger::after,
    div.burger::before {
        width: 100%;
        height: 4px;
    }


    .bar:before,
    .bar:after {

        height: 2px;

    }

    div.Contact {
        width: 50vw;
        bottom: 0;
        right: 0;
        font-size: 2rem;
    }

}



@media (max-width: 320px) and (orientation: portrait) {
    .menu {
        font-size: 1.2rem;
    }

    input {

        width: 220px;
        margin: 0 auto;

    }

    label {
        font-size: 1.6rem;
    }

    button.applay {
        font-size: 1.1rem;

    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    div.burger {
        top: 5%;
        left: 3%;
        width: 30px;
        height: 20px;
    }

    .menu {
        top: 0;
        left: -100%;
        min-width: 100%;
        line-height: 2.5;
        font-size: 2.4rem;
    }

    div.burger span,
    div.burger::after,
    div.burger::before {
        width: 100%;
        height: 3px;
    }

}

@media (max-width: 1500px) and (orientation: landscape) {
    .menu {
        font-size: 1.7rem;
    }

}

@media (min-width: 1024px) and (orientation: landscape) {

    .menu {
        width: 100vw;
    }

    input {

        width: 550px;

    }

    label {
        top: -45%;
        font-size: 2.5rem;

    }

    .bar {

        width: 550px;

    }

    button.applay {
        font-size: 1.5rem;
        padding: 15px 40px;
        cursor: pointer;
    }

    input:focus~label,
    input:valid~label {

        font-size: 18px;

    }

    .Contact .fb svg,
    .in svg,
    .gthub svg,
    .cdpen svg {
        transition: all 0.5s cubic-bezier(.99, 0, .57, .94);
    }

    .Contact .fb svg:hover,
    .in svg:hover,
    .gthub svg:hover,
    .cdpen svg:hover {
        transform: rotate(360deg) scale(1.4);
        color: var(--itemsColor)
    }



    button.applay:hover {
        transform: scale(0.9);
    }

}

@media(orientation: landscape) {
    input {

        width: 550px;

    }

    label {
        top: -45%;
        font-size: 2rem;
    }

    .bar {

        width: 550px;

    }


    input:focus~label,
    input:valid~label {

        font-size: 15px;

    }


    button.applay {
        font-size: 1.1rem;
        padding: 12px 30px;
        cursor: pointer;
    }

    div.Contact {
        width: 50vw;
        bottom: 0%;
        right: 0;
        font-size: 1.5rem;
    }

}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: var(--itemsColor);
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: var(--itemsColor);
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: var(--itemsColor)
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes shake {

    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-7px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(7px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

}